body{
  background-color:#011C4A;
}
table{
  width:30%;
}
.table {
  margin-top: 33px;
  margin-bottom: 33px;
  padding: 21px 5%;
  background-color: #011c4a;
  opacity: 0.8;
  color: #fff;
  font-size: 1em;
}

.body {
  padding-left: 5px;
}

.tr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
}

#nav_back{
  text-align:center;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.gestion_back_link {
  width: 18%;
  min-width: 18%;
  margin: 33px 0%;
  padding: 11px 0%;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(270deg, #e03a6b, rgba(1, 28, 74, .8));
  background-image: linear-gradient(180deg, #e03a6b, rgba(1, 28, 74, .8));
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.gestion_back_link a {
  color:#fff;
  text-decoration:none;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 3em;
}

.gestion_header {
  margin-bottom: 20px;
  font-family: Avenir, sans-serif;
  color: #fff;
  text-align:center;
  font-size: 3em;

}

.link_block_action{
  text-align:center;
  margin-bottom:5px;
}

.link_action{
  color:#fff;
  text-decoration:none;
  font-family:Avenir, sans-serif;
}

.icon-back{
  width:30px;
}
.icon-up{
  transform: rotate(180deg);
}




@media (max-width: 991px) {
  
  #nav_back{
    flex-wrap:wrap;
    width:50%;
    margin:auto;
  }
  .gestion_back_link {
    width: 100%;
    min-width: 100%;
    margin: 15px 0%;
    font-size:1.2em;
  }
}





@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-HeavyOblique.ttf') }}') format('truetype'), url('{{ asset('fonts/Avenir-BlackOblique.ttf') }}') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-Black.ttf') }}') format('truetype'), url('{{ asset('fonts/Avenir-Heavy.ttf') }}') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir book';
  src: url('{{ asset('fonts/Avenir-Book.ttf') }}') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-Light.ttf') }}') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-LightOblique.ttf') }}') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-Oblique.ttf') }}') format('truetype'), url('{{ asset('fonts/Avenir-BookOblique.ttf') }}') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-MediumOblique.tt') }}') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir roman';
  src: url('{{ asset('fonts/Avenir-Roman.ttf') }}') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-Medium.ttf') }}') format('truetype');
  font-weight: 500;
  font-style: normal;
}