.table {
  margin-top: 33px;
  margin-bottom: 33px;
  padding: 21px 5%;
  background-color: #011c4a;
  opacity: 0.8;
  color: #fff;
  font-size: 1em;
}

.body {
  padding-left: 5px;
}

.tr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
}

.gestion_back_link {
  width: 20%;
  min-width: 20%;
  margin: 33px 4%;
  padding: 11px 4%;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(270deg, #e03a6b, rgba(1, 28, 74, .8));
  background-image: linear-gradient(180deg, #e03a6b, rgba(1, 28, 74, .8));
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 3em;
}

.gestion_header {
  margin-bottom: 20px;
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 3em;
}

@media (max-width: 991px) {
  .gestion_back_link {
    width: 30%;
    min-width: 30%;
  }
}

@media (max-width: 767px) {
  .gestion_back_link {
    width: 40%;
    min-width: 40%;
  }
}

@media (max-width: 479px) {
  .gestion_back_link {
    width: 50%;
    min-width: 50%;
  }
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-HeavyOblique.ttf') format('truetype'), url('../fonts/Avenir-BlackOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Black.ttf') format('truetype'), url('../fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir book';
  src: url('../fonts/Avenir-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Oblique.ttf') format('truetype'), url('../fonts/Avenir-BookOblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir roman';
  src: url('../fonts/Avenir-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}