table {
  color:#011c4a;
  font-size:1em;
  background:#011c4a;
  margin:20px;


  padding: 10px;

  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;


  margin: 0 auto;
}
table th {
  padding:21px 25px 22px 25px;
  color: #fff;
  font-family: 'Big john', sans-serif;





  background: rgba(224, 58, 107, 0.8);

}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
  font-family: Avenir, sans-serif;
}
table td {
  padding:10px;
  color: #fff;

  background: rgba(87, 86, 84, 0.5);

  max-height:20px;
  margin-left: 10px;
  margin-right: 10px;
}
table tr.even td {
  background: rgba(87, 86, 84, 0.9);

}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: rgba(87, 86, 84, 0.9);
}




@media (max-width: 479px){
  
  table{
    font-size:0.8em;
    margin:10px;
    padding: 0px;
  }

  table th {
    padding:2%;
    font-size:0.9em;
  }
  table tr{
    padding-left:0;
  }

}