.body {
  background-color:#011C4A;
  background-position: 0px 0px;
  background-size: 1920px 1080px;
  background-attachment: fixed;
  font-family: Avenir, sans-serif;
  font-size: 100%;
  line-height: 100%;
  font-weight: 400;
}

.section {
  margin-top: 40px;
  padding-top: 33px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.image {
  display: block;
  height: 11%;
}

.accroche {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-3 {
  margin-top: 11%;
  margin-left: 20%;
}

.paragraph {
  width: 20%;
  height: 0%;
}

.image-2 {
  max-width: 20%;
}

.navbar {
  z-index: 99;
  background-color: transparent;
}

.image-3 {
  max-width: 120%;
}

.image-4 {
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-button {
  background-color: #fff;
}

.container-2 {
  padding: 0px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.column {
  left: 0px;
  top: 0px;
  display: block;
  padding-left: 100px;
}

.section-3 {
  margin-top: 33px;
  margin-bottom: 233px;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20%;
  padding-left: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-3 {
  top: 221px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-right: 8%;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-2 {
  display: block;
  width: 100%;
  background-color: transparent;
  font-family: 'Big john', sans-serif;
  font-size: 3.5em;
  line-height: 1.2em;
}

.text-span {
  display: block;
  margin-right: auto;
  margin-bottom: -10px;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

.paragraph-2 {
  color: #fff;
  line-height: 150%;
  font-weight: 300;
}

.div-block-4 {
  display: none;
  width: auto;
  height: 14px;
  margin-right: 0px;
  margin-left: 0px;
  background-image: -webkit-linear-gradient(0deg, #f7263d, #000126 76%);
  background-image: linear-gradient(90deg, #f7263d, #000126 76%);
  color: transparent;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0%;
  margin-left: 0%;
  padding-top: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 20px;
  background-color: #f7263d;
  font-family: 'Big john', sans-serif;
  color: #fff;
}

.button.boutonhome {
  margin-right: 9%;
  margin-left: 0px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(90deg, rgba(1, 28, 74, .1), rgba(106, 227, 225, .8));
  background-image: linear-gradient(0deg, rgba(1, 28, 74, .1), rgba(106, 227, 225, .8));
}

.button.boutonhome.bouton_inscription {
  cursor: pointer;
}

.button.boutonhome.bouton_connexion {
  cursor: pointer;
}

.section-4 {
  margin-top: 18%;
}

.section-5 {
  margin-top: 155px;
  margin-bottom: 3%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12%;
  margin-left: 12%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.link {
  margin-left: 46px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
}

.heading-3 {
  margin-bottom: 21px;
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.heading-4 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Big john', sans-serif;
  color: #fff;
  font-size: 5em;
  line-height: 1.2em;
  text-align: left;
}

.heading-4.toto {
  width: 100%;
}

.link-block {
  display: none;
}

.link-block-2 {
  display: none;
  overflow: visible;
  text-decoration: none;
}

.link-block-3 {
  display: none;
  text-decoration: none;
}

.div-block-7 {
  display: none;
}

.body-2 {
  background-color:#011C4A;
  background-position: 0px 0px;
  background-size: cover;
}

.brand {
  cursor: pointer;
}

.container-4 {
  margin-top: 33px;
}

.heading-5 {
  margin-bottom: 5px;
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.heading-6 {
  margin-top: 0px;
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

.paragraph-3 {
  overflow: scroll;
  max-height: none;
  padding: 30px;
  font-family: Avenir, sans-serif;
  font-size: 1em;
  text-align: center;
}

.div-block-10 {
  margin-right: 34px;
  margin-left: 34px;
  padding-top: 13px;
  padding-bottom: 13px;
  opacity: 0.7;
  color: #fff;
}

.container-5 {
  margin-bottom: 84px;
  border-radius: 20px;
  opacity: 1;
}

.section-6 {
  max-height: none;
}

.image-5 {
  width: 10%;
  margin-right: 15px;
  margin-left: 2%;
  padding: 0px;
  border-radius: 100px;
}

.image-6 {
  border-radius: 100px;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  margin-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-4 {
  display: block;
  max-width: 80%;
  min-width: 80%;
  margin-right: 0px;
  padding: 16px;
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 0.9em;
  text-align: center;
}

.button-3 {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
  border-radius: 100%;
  background-color: #ff381d;
  font-family: 'Big john', sans-serif;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
}

.link-block-4 {
  border-radius: 50px;
}

.field-label {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.checkbox {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #269ef0;
}

.div-block-12 {
  overflow: visible;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
}

.link-2 {
  -webkit-transform: rotateX(180deg) rotateY(-45deg) rotateZ(0deg);
  transform: rotateX(180deg) rotateY(-45deg) rotateZ(0deg);
}

.link-block-5 {
  background-image: -webkit-linear-gradient(270deg, red, red);
  background-image: linear-gradient(180deg, red, red);
  -webkit-transform: rotate(45deg) scale3d(0.28, 0.52, 1);
  transform: rotate(45deg) scale3d(0.28, 0.52, 1);
}

.link-block-6 {
  position: absolute;
  left: 22px;
  right: 13px;
  bottom: -4px;
  display: block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.div-block-13 {
  position: absolute;
  left: 10px;
  top: 14px;
  width: 30px;
  height: 15px;
  border-style: none solid solid none;
  border-color: #000 #fff #fff #ff381d;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 1px;
  opacity: 0.5;
  -webkit-transform: rotate(-45deg) scale3d(-1, 1, 1);
  transform: rotate(-45deg) scale3d(-1, 1, 1);
}

.divcheck {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #1d3b7a;
  background-image: -webkit-linear-gradient(270deg, rgba(106, 227, 225, .9), #011c4a);
  background-image: linear-gradient(180deg, rgba(106, 227, 225, .9), #011c4a);
}

.link-block-7 {
  width: 50px;
  height: 50px;
  border-style: none;
  border-width: 27px;
  border-radius: 50px;
  cursor: pointer;
}

.section-7 {
  margin-bottom: 8px;
}

.button-4 {
  display: none;
}

.section-9 {
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.div-block-14 {
  width: 100%;
  background-image: url('{{ asset('img/hautpng.png') }}');
  background-position: 0px 0px;
  background-size: 1920px 1080px;
  background-attachment: fixed;
}

.image-7 {
  position: relative;
  z-index: 2;
  height: 100%;
}

.image-8 {
  position: relative;
  z-index: 2;
}

.image-9 {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.image-10 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
  width: auto;
}

.image-11 {
  position: relative;
  left: 385%;
  top: 641px;
  z-index: 3;
}

.planete1 {
  position: relative;
  left: 350%;
  top: 600px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
}

.image-12 {
  position: absolute;
  left: 475px;
  top: 164px;
  z-index: 1;
  overflow: visible;
}

.image-13 {
  position: absolute;
  left: 681px;
  top: 200px;
  width: 500px;
  max-width: none;
}

.image-13.planeteanneau {
  left: 45vw;
}

.planete2 {
  position: absolute;
  left: 82px;
  top: 538px;
  right: -26px;
  width: 300px;
  max-width: none;
  opacity: 1;
}

.image-14 {
  position: static;
  left: 0px;
  top: 0px;
}

.planete3 {
  position: absolute;
  left: 85vw;
  top: 569px;
  z-index: 3;
}

.menuburger {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 100;
  height: 100%;
  padding: 15px;
  opacity: 1;
  cursor: pointer;
}

.link-block-8 {
  margin-bottom: 20px;
}

.nav_name {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 101;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .44), rgba(0, 0, 0, .44));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .44), rgba(0, 0, 0, .44));
}

.nav_menu_flex {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #fff;
}

.div-block-15 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 101;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-image: -webkit-linear-gradient(270deg, rgba(1, 28, 74, .6), rgba(1, 28, 74, .6));
  background-image: linear-gradient(180deg, rgba(1, 28, 74, .6), rgba(1, 28, 74, .6));
}

.nav_link {
  width: 100%;
  padding: 33px 55px;
  border-bottom: 1px solid #fff;
  -webkit-transition: background-color 200ms ease, font-size 200ms ease, opacity 200ms ease;
  transition: background-color 200ms ease, font-size 200ms ease, opacity 200ms ease;
  font-family: 'Big john', sans-serif;
  color: #fff;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.nav_link:hover {
  border-style: none;
  background-color: #e03a6b;
  -webkit-transform: scale(1.2) translate(0px, 0px);
  -ms-transform: scale(1.2) translate(0px, 0px);
  transform: scale(1.2) translate(0px, 0px);
  font-size: 0.85em;
}

.nav_link > a{
  text-decoration:none;
  color:#fff;
}

.link-block-9 {
  width: 100%;
  text-decoration: none;
}

.close_menu {
  position: absolute;
  left: -50px;
  top: 10px;
  width: 25px;
  border-style: none;
}

.div-block-16 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.div-block-17 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  padding-top: 156px;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
}

.popup {
  position: static;
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 2px 33px 55px;
  background-color: grey;
}

.popup.connexion {
  padding-bottom: 11px;
}

.popup_wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: none;
  padding-top: 141px;
  background-image: -webkit-linear-gradient(270deg, rgba(1, 28, 74, .6), rgba(1, 28, 74, .6));
  background-image: linear-gradient(180deg, rgba(1, 28, 74, .6), rgba(1, 28, 74, .6));
  text-align: center;
}

.popup_connexion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  margin-right: auto;
  margin-left: auto;
  padding: 33px 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(270deg, #6ae3e1, rgba(1, 28, 74, .9) 86%);
  background-image: linear-gradient(180deg, #6ae3e1, rgba(1, 28, 74, .9) 86%);
}

.heading-7 {
  font-family: 'Big john', sans-serif;
  color: #fff;
}

.closepopup {
  margin-bottom: 13px;
}

.headerconnexion {
  font-family: 'Big john', sans-serif;
  color: #fff;
  font-size: 1.5em;
}

.contenu_popup_connexion {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.image-15 {
  margin-bottom: 13px;
}

.popup_inscription {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  margin-right: auto;
  margin-left: auto;
  padding: 33px 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(270deg, #6ae3e1, rgba(64, 147, 165, .9) 43%, rgba(1, 28, 74, .8) 86%);
  background-image: linear-gradient(180deg, #6ae3e1, rgba(64, 147, 165, .9) 43%, rgba(1, 28, 74, .8) 86%);
  text-align: left;
}

.popup_wrapper2 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: none;
  padding-top: 141px;
  background-color: rgba(1, 28, 74, .6);
  text-align: center;
}

.closepopup_inscription {
  margin-bottom: 13px;
}

.header_inscription {
  padding-bottom: 21px;
  font-family: 'Big john', sans-serif;
  color: #fff;
  font-size: 1.5em;
}

.contenu_popup_inscription {
  width: 50%;
}

.body-3 {
  background-color:#011C4A;
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.paragraph-5 {
  margin-top: 21px;
  margin-bottom: 33px;
  padding-right: 12%;
  padding-left: 12%;
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.section_tab {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.table-link {
  width: 45%;
  margin-right: 2%;
  margin-bottom: 33px;
  margin-left: 2%;
  padding-top: 21px;
  padding-bottom: 21px;
  background-image: -webkit-linear-gradient(270deg, #6ae3e1, rgba(1, 28, 74, .9));
  background-image: linear-gradient(180deg, #6ae3e1, rgba(1, 28, 74, .9));
  opacity: 0.7;
  color: #fff;
  text-align: center;
}

.table-link:hover {
  opacity: 1;
}

.table-link.w--current {
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.table-link.w--current:hover {
  opacity: 1;
}

.table-link.w--current:active {
  background-image: -webkit-linear-gradient(270deg, #6ae3e1, rgba(1, 28, 74, .9));
  background-image: linear-gradient(180deg, #6ae3e1, rgba(1, 28, 74, .9));
}

.table-link.continuer-aventure {
  background-image: -webkit-linear-gradient(270deg, #e03a6b, rgba(1, 28, 74, .9));
  background-image: linear-gradient(180deg, #e03a6b, rgba(1, 28, 74, .9));
}

.table-link.sauvegardes {
  background-image: -webkit-linear-gradient(270deg, #cfe6e4, rgba(1, 28, 74, .9));
  background-image: linear-gradient(180deg, #cfe6e4, rgba(1, 28, 74, .9));
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block {
  width: 100%;
  font-family: 'Big john', sans-serif;
  font-size: 1em;
}

.text-block-2 {
  font-family: 'Big john', sans-serif;
  font-size: 1em;
}

.text-block-3 {
  font-family: 'Big john', sans-serif;
  font-size: 1em;
}

.contenu_nouvelle_aventure {
  display: block;
}

.contenu_sauvegardes {
  padding: 40px 10%;
}

.infos_user {
  width: 90%;
  margin: 32px auto;
}

.login_pseudo {
  font-family: 'Big john', sans-serif;
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.email {
  font-family: 'Big john', sans-serif;
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.desinscription {
  display: block;
  width: 20%;
  height: 50px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 16px;
  border-radius: 30px;
  background-image: -webkit-linear-gradient(270deg, #e03a6b, rgba(1, 28, 74, .8) 86%);
  background-image: linear-gradient(180deg, #e03a6b, rgba(1, 28, 74, .8) 86%);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.paragraph-desinscription {
  font-family: 'Big john', sans-serif;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.desinscription_check {
  display: none;
}

.desinscription_close {
  display: none;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.desinscription_actions {
  margin-top: 5px;
}

.image-16 {
  margin-right: 13px;
}

.body-4 {
  background-color:#011C4A;
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}

.form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form {
  width: 50%;
  text-align: center;
}

.paragraph-6 {
  color: #fff;
  font-size: 1em;
}

.heading-8 {
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: 400;
}

html.w-mod-js *[data-ix="movetoright"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}

html.w-mod-js *[data-ix="movetoright-2"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}

html.w-mod-js *[data-ix="movetoleft"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

html.w-mod-js *[data-ix="movetoleft-2"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

html.w-mod-js *[data-ix="fadedown"] {
  opacity: 0;
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
}

html.w-mod-js *[data-ix="fadedown-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
}

html.w-mod-js *[data-ix="fadedown-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
}

html.w-mod-js *[data-ix="fadedown-4"] {
  opacity: 0;
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
}

html.w-mod-js *[data-ix="fadedown-5"] {
  opacity: 0;
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
}

html.w-mod-js *[data-ix="fadedown-6"] {
  opacity: 0;
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
}

html.w-mod-js *[data-ix="fadein"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="fadeup"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="linkhover"] {
  opacity: 0.5;
}

html.w-mod-js *[data-ix="fadebarre"] {
  opacity: 0;
  width: 0px;
}

html.w-mod-js *[data-ix="hide-nav-menu"] {
  opacity: 1;
  -webkit-transform: translate(100%, 0px) scale(1, 1);
  -ms-transform: translate(100%, 0px) scale(1, 1);
  transform: translate(100%, 0px) scale(1, 1);
}

html.w-mod-js *[data-ix="initialstate-inscription"] {
  opacity: 0;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

html.w-mod-js *[data-ix="initialstate-connexion"] {
  opacity: 0;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

@media (max-width: 991px) {
  .body {
    background-color:#011C4A;
    background-position: 0px 0px;
    background-size: cover;
  }
  .image {
    height: 100vh;
  }
  .column-2 {
    padding-left: 20%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }
  .column-3 {
    margin-top: -120px;
    margin-bottom: 68px;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .paragraph-2 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
    text-align: center;
  }
  .div-block-4 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .container-3 {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .button.boutonhome {
    margin-right: auto;
    margin-left: auto;
  }
  .section-5 {
    display: block;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .div-block-5 {
    margin-bottom: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .div-block-6 {
    display: none;
  }
  .heading-3 {
    padding-left: 25%;
    text-align: left;
  }
  .heading-4 {
    width: auto;
    padding: 0px;
    font-size: 4.5em;
  }
  .link-block {
    display: block;
  }
  .link-block-2 {
    display: block;
  }
  .link-block-3 {
    display: block;
  }
  .div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-9 {
    display: none;
  }
  .body-2 {
    background-size: cover;
  }
  .container-4 {
    margin-bottom: 16px;
  }
  .paragraph-3 {
    overflow: scroll;
    max-height: none;
    text-align: center;
  }
  .container-5 {
    margin-bottom: 84px;
  }
  .image-5 {
    width: 10%;
    margin-left: 0%;
  }
  .paragraph-4 {
    width: 75%;
    max-width: 75%;
    min-width: 75%;
  }
  .divcheck {
    width: 50px;
    height: 50px;
  }
  .container-6 {
    margin-top: 0px;
    padding-right: 22px;
    padding-left: 22px;
  }
  .image-13.planeteanneau {
    left: 199px;
  }
  .planete3 {
    display: none;
  }
  .nav_menu_flex {
    width: 35%;
  }
  .popup_connexion {
    width: 70vw;
  }
  .popup_inscription {
    width: 70vw;
  }
  .body-3 {
    background-attachment: fixed;
  }
  .desinscription {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .body {
    background-size: cover;
  }
  .column-2 {
    padding-left: 20%;
  }
  .column-3 {
    display: block;
    padding-right: auto;
    padding-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .paragraph-2 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
    text-align: center;
  }
  .div-block-4 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .container-3 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .button.boutonhome {
    margin-left: auto;
  }
  .link {
    display: none;
  }
  .row-2 {
    margin-right: auto;
    margin-left: auto;
  }
  .heading-3 {
    padding-left: 10%;
    text-align: center;
  }
  .heading-4 {
    width: auto;
    font-size: 3.5em;
    text-align: center;
  }
  .link-block {
    display: block;
  }
  .link-block-2 {
    display: block;
  }
  .link-block-3 {
    display: block;
  }
  .div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .paragraph-3 {
    overflow: scroll;
  }
  .container-5 {
    margin-bottom: 99px;
  }
  .section-6 {
    max-height: none;
  }
  .image-5 {
    width: 15%;
  }
  .div-block-11 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .paragraph-4 {
    display: block;
    width: 60%;
    max-width: 60%;
    min-width: 60%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }
  .divcheck {
    width: 50px;
  }
  .section-8 {
    margin-top: 103px;
  }
  .planete1 {
    left: 276%;
    top: 449px;
  }
  .image-13.planeteanneau {
    display: none;
    overflow: visible;
  }
  .nav_menu_flex {
    width: 40%;
  }
  .popup_connexion {
    width: 70vw;
  }
  .popup_inscription {
    width: 70vw;
  }
  .tabs-menu {
    margin-right: 9%;
    margin-left: 9%;
  }
  .text-block {
    font-size: 0.85em;
  }
  .text-block-2 {
    font-size: 0.85em;
  }
  .text-block-3 {
    padding-left: 0px;
    font-size: 0.85em;
    text-align: center;
  }
  .desinscription {
    width: 40%;
  }
}

@media (max-width: 479px) {
  .body {
    background-size: cover;
    background-attachment: fixed;
  }
  .section-3 {
    margin-right: 33px;
    margin-left: 33px;
    padding-right: 0%;
    padding-left: 0%;
  }
  .column-2 {
    position: relative;
    display: block;
    overflow: visible;
    max-height: 100%;
    min-height: 100%;
    padding-left: 9%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .heading-2 {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: auto;
    font-size: 1em;
    line-height: 1.5em;
  }
  .text-span {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 2em;
    line-height: 1.2em;
    text-align: left;
  }
  .paragraph-2 {
    padding-left: 10%;
    text-align: center;
  }
  .div-block-4 {
    position: relative;
    left: 2px;
    right: 31px;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .button.boutonhome {
    display: block;
    margin-right: auto;
    margin-bottom: 12%;
    margin-left: auto;
  }
  .section-5 {
    margin-top: 21%;
  }
  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-6 {
    display: block;
    margin-bottom: 20%;
  }
  .link {
    display: none;
  }
  .row-2 {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
    padding-left: auto;
  }
  .heading-3 {
    padding-left: 10%;
    font-size: 1.6em;
    line-height: 1.2em;
    text-align: center;
  }
  .heading-4 {
    width: 100%;
    min-width: 99%;
    padding-left: 0px;
    font-size: 2em;
    line-height: 1.2em;
    text-align: center;
  }
  .link-block {
    display: block;
  }
  .link-block-2 {
    display: block;
  }
  .link-block-3 {
    display: block;
  }
  .div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .button-2 {
    width: 50px;
    margin: 81px auto 81px 0px;
    border-radius: 50px;
  }
  .heading-5 {
    font-size: 2.1em;
  }
  .heading-6 {
    font-size: 1.7em;
  }
  .paragraph-3 {
    overflow: scroll;
    max-height: 500px;
  }
  .container-5 {
    margin-bottom: 55px;
  }
  .image-5 {
    width: 25%;
  }
  .div-block-11 {
    margin-top: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .paragraph-4 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .divcheck {
    display: none;
  }
  .section-8 {
    margin-top: 55px;
  }
  .button-4 {
    display: block;
    padding-top: 12px;
    padding-bottom: 8px;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(270deg, #6ae3e1, rgba(1, 28, 74, .9) 86%);
    background-image: linear-gradient(180deg, #6ae3e1, rgba(1, 28, 74, .9) 86%);
    font-family: 'Big john', sans-serif;
    font-size: 1em;
  }
  .planete1 {
    left: 98%;
    right: 0px;
  }
  .planete2 {
    display: none;
  }
  .planete3 {
    left: 225px;
    top: 849px;
    display: block;
  }
  .nav_menu_flex {
    width: 60%;
  }
  .close_menu {
    width: 30px;
  }
  .popup_wrapper {
    background-image: -webkit-linear-gradient(270deg, rgba(1, 28, 74, .6), rgba(1, 28, 74, .6));
    background-image: linear-gradient(180deg, rgba(1, 28, 74, .6), rgba(1, 28, 74, .6));
  }
  .popup_connexion {
    width: 90vw;
    background-image: -webkit-linear-gradient(270deg, #6ae3e1, rgba(1, 28, 74, .9) 86%);
    background-image: linear-gradient(180deg, #6ae3e1, rgba(1, 28, 74, .9) 86%);
  }
  .headerconnexion {
    padding-bottom: 21px;
  }
  .popup_inscription {
    width: 90vw;
  }
  .popup_wrapper2 {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 141px;
    background-image: -webkit-linear-gradient(270deg, rgba(1, 28, 74, .6), rgba(1, 28, 74, .6));
    background-image: linear-gradient(180deg, rgba(1, 28, 74, .6), rgba(1, 28, 74, .6));
    text-align: center;
  }
  .tabs-menu {
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .login_pseudo {
    margin-bottom: 21px;
    font-size: 0.9em;
  }
  .email {
    margin-bottom: 21px;
    font-size: 0.9em;
  }
  .desinscription {
    width: 65%;
  }
}

@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-Black.ttf') }}') format('truetype'), url('{{ asset('fonts/Avenir-Heavy.ttf') }}') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-Medium.ttf') }}') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir roman';
  src: url('{{ asset('fonts/Avenir-Roman.ttf') }}') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-Oblique.ttf') }}') format('truetype'), url('{{ asset('fonts/Avenir-BookOblique.ttf') }}') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-MediumOblique.ttf') }}') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-BlackOblique.ttf') }}') format('truetype'), url('{{ asset('fonts/Avenir-HeavyOblique.ttf') }}') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir book';
  src: url('{{ asset('fonts/Avenir-Book.ttf') }}') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-Light.ttf') }}') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('{{ asset('fonts/Avenir-LightOblique.ttf') }}') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Big john';
  src: url('{{ asset('fonts/BIG-JOHN.otf') }}') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Slim joe';
  src: url('{{ asset('fonts/Slim-Joe.otf') }}') format('opentype');
  font-weight: 400;
  font-style: normal;
}