
{% block content %}
<form action="#" method="post">
    {{ form_widget(adventureform) }}


</form>
<div id="form_msg"></div>

{% endblock %}

{% extends 'layoutBO.html.twig' %}

{% block content %}

<form id="adventure_create">

	<label>Name</label>
	<input type="text" name="name" value="Nom de l'aventure">

	<label>Description</label>
	<textarea rows="3" cols="30" name="description">Description de l'aventure</textarea>

	<label>Pitch</label>
	<textarea rows="3" cols="30" name="pitch">Pitch de l'aventure, l'accroche</textarea>

	<input type="submit" value="Ajouter aventure">

</form>

<script>
$(function(){

	$("#adventure_create").on("submit", function(e){
		e.preventDefault();
		var addadv = $.ajax({
			url: baseUrl+"createadventureformprocessing/",
			method: "POST",
			data: $(this).serialize()
		});

		addadv.done(function(reg){
			alert(reg);
		});
		addadv.fail(function( jqXHR, textStatus ) {
  			alert( "Request failed: " + textStatus );
  		});
	});

});
</script>

{% endblock %}