{% extends 'layoutBO.html.twig' %}

{% block content %}

<form id="adventure_create">

	<label>Name</label>
	<input type="text" name="name" maxlength="20" value="Nom de l'aventure">

	<label>Description</label>
	<textarea rows="3" cols="30" name="description" maxlength="200">Description de l'aventure</textarea>

	<label>Pitch</label>
	<textarea rows="3" cols="30" name="pitch" maxlength="2000">Pitch de l'aventure, l'accroche</textarea>

	<input type="submit" value="Ajouter aventure">

</form>

<script>
$(function(){

	$("#adventure_create").on("submit", function(e){
		e.preventDefault();
		var addpage = $.ajax({
			url: baseUrl+"createadventureformprocessing/",
			method: "POST",
			data: $(this).serialize()
		});

		addpage.done(function(reg){
			alert(reg);
		});
		addpage.fail(function( jqXHR, textStatus ) {
  			alert( "Request failed: " + textStatus );
  		});
	});

});
</script>

{% endblock %}
