{% extends "layoutBO.html.twig" %}

{% block content %}

<h2 class="gestion_header">Pages de l'aventure : </h2>

{% if pages != "Aucune pages à l'id:1" %}
<table>
	<tr>
	{% for key, value in pages[0] %}
		<th>{{ key }}</th>
	{% endfor %}
	</tr>
	{% for key in pages %}
		<tr>
			{% for value in key %}
				<td>{{ value }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
{% else %}
<h3 class="text-back">Pas de pages à afficher !</h3>
{% endif %}

{% endblock %}
