{% extends 'layoutBO.html.twig' %}

{% block content %}
<script>var id_adventure = {{id_adventure}};</script>
<div id="adventure_edit_form"></div>

<div id="adventure_pages"></div>

<div id="page_edit_form"></div>

<script  type="text/javascript" src="{{ asset('js/modifyadventure.js') }}"></script>
{% endblock %}
