<form>
	<label>Numero de page</label>
	<input type="number" name="page_number">

	<label>Scenario</label>
	<textarea  rows="10" cols="50" name="story"></textarea>


	<fieldset>
		<legend>Choix 1</legend>

		<label>Personnage</label>
		<input type="text" name="crew1">

		<label>Reponse</label>
		<textarea rows="3" cols="30" name="response1"></textarea>

		<label>Lien</label>
		<input type="number" name="id_landing_page1">
	</fieldset>

	<fieldset>
		<legend>Choix 2</legend>

		<label>Personnage</label>
		<input type="text" name="crew2">

		<label>Reponse</label>
		<textarea rows="3" cols="30" name="response2"></textarea>

		<label>Lien</label>
		<input type="number" name="id_landing_page2">
	</fieldset>

	<fieldset>
		<legend>Choix 3</legend>

		<label>Personnage</label>
		<input type="text" name="crew3">

		<label>Reponse</label>
		<textarea rows="3" cols="30" name="response3"></textarea>

		<label>Lien</label>
		<input type="number" name="id_landing_page3">
	</fieldset>
</form>