{% extends "layout.html.twig" %}

{% block data_html %} data-wf-page="5928260e7a306e0936ce6cc4" data-wf-site="591dbb2c653bab09628cdd31" {% endblock %}

{% block title %}Fail{% endblock %}



{%  block body_class %} class="body-4" {% endblock %}




{% block content %}

  <div class="section-7">
    <div class="container-4 w-container">
      <h1 class="titre_fail" data-ix="fadedown">VOUS ETES MORT !</h1>
      <p class="text_fail" data-ix="fadedown-3">Je sais pas quoi dire pour te consoler, tu es décédé... Ah si !
        <br>L'envoi d'un panier garni est prévu pour les familles des défunts, de la part du syndicat.
        <br>Voilà.</p><a class="retour_tableau_de_bord w-button" data-ix="fadedown-2" href="#">TABLEAU DE BORD&nbsp;</a>
    </div>
  </div>
 
 {% endblock %}