{% extends "layout.html.twig" %}

{% block content %}

  	<h1>test javascript</h1>

    <div id="story">Loading...</div>
    <div id="choices">Loading...</div>

	<script  type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/gameJs.js') }}"></script>
{% endblock %}

