{% extends "layout.html.twig" %}

{% block content %}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{ asset('js/gameJs.js') }}"></script>
	<h1>test javascript</h1>
    <p id="story"></p>
{% endblock %}