{% extends "layout.html.twig" %}

{% block data_html %} data-wf-page="5927ffc9086b2e74bbfe25d4" data-wf-site="591dbb2c653bab09628cdd31" {% endblock %}

{% block title %}Preface aventure{% endblock %}



{%  block body_class %} class="body-6" {% endblock %}




{% block content %}

  <div class="section-7">
    <div class="container-4 w-container">
      <h1 class="titre_aventure" data-ix="fadedown">TITRE AVENTURE</h1>
      <p class="description_aventure" data-ix="fadedown-3">description aventure</p><a class="commencer_aventure w-button" data-ix="fadedown-2" href="#">Commencer&nbsp;</a>
    </div>
  </div>

{% endblock %}