{% extends "layout.html.twig" %}

{% block data_html %} data-wf-page="5927ea6ebe66e031306e3a4f" data-wf-site="591dbb2c653bab09628cdd31" {% endblock %}

{% block title %}Règles du jeu{% endblock %}



{%  block body_class %} class="body-4" {% endblock %}

 


{% block content %}

  <div class="section-7">
    <div class="container-4 w-container">
      <h1 class="heading-5" data-ix="fadedown">Règles du jeu</h1>
      <p class="paragraph-5" data-ix="fadedown-3">Ici, jeune commandant(e), tu découvriras toutes les règles de jeu horribles auxquelles tu devras te soumettre...
        <br>Elles sont assez simples, mais on sait jamais, on teste pas le QI de nos sujets d'expérimentation...</p>
    </div>
  </div>
  <div class="game_rules" data-ix="movetoright-2">
    <div class="game_rules_container w-container">
      <h1 class="heading-8">COMMENT ÇA MARCHE ?</h1>
      <p class="paragraph-6">Le déroulement de ton aventure, ou de tes aventures n'est pas compliqué.
        <br>Tu vas être confronté à plusieurs situations différentes lors de tes voyages stellaires... chaque page du jeu te présente un problème différent et unique.
        <br>Chaque intrigue, énigme ou situation pourra être résolue par des choix, proposés par ton équipage. Ils sont au nombre de 3 par page.
        <br>N'oublie pas que chaque choix est définitif moussaillon ! Il ne tient qu'à toi d'écouter attentivement les propositions de ton équipe !
        <br>
        <br>Chacun de tes choix te mènera à une nouvelle page avec de nouveau 3 résolutions possibles, et ce, jusqu'à la victoire ou... la mort... OU PIRE, LA RETRAITE !</p>
    </div>
    <div class="w-container">
      <h1 class="heading-9">QUI COMPOSE TON&nbsp;ÉQUIPAGE ?&nbsp;</h1>
      <p class="paragraph-7">C'est une bonne question ! Moi je dirais, une belle bande de débiles ! Des bras cassés, les meilleurs chez les plus mauvais...
        <br>Orbital Express c'est un peu comme la SNCF en 2017, mais version livraison de baguette dans l'espace.&nbsp;
        <br>
        <br>Ton équipage est composé de différents personnages, tous uniques dans leur genre... Chacun a son petit caractère et te proposera de réagir d'une façon bien à lui à un problème posé. Libre à toi de les écouter ou non.&nbsp;</p>
    </div>
  </div>

{% endblock %}