{% extends "layout.html.twig" %}

{% block data_html %} data-wf-page="591dbb2c653bab09628cdd32" data-wf-site="591dbb2c653bab09628cdd31" {% endblock %}

{% block title %}Contact{% endblock %}



{%  block body_class %} class="body-4" {% endblock %}



{% block content %}

  <div class="section-7">
    <div class="container-4 w-container">
      <h1 class="heading-5" data-ix="fadedown">Bienvenue, sur le service client de la station mère.</h1>
      <p class="paragraph-5" data-ix="fadedown-3">Si tu n'es pas satisfait de la qualité des voyages stellaires, tu peux te plaindre auprès du service client de la station mère. Nous sommes disponibles de 9h00 à 12h00 du Lundi au Vendredi, et le week end, on est pas là...
        <br>De toute façon, personne ne travaille le week end en 2058...</p>
    </div>
  </div>
  <div class="form_contact">
    <div class="container_contact w-container">
      <div class="form-wrapper w-form" data-ix="movetoright-2">
        <form class="form" data-name="Email Form" id="email-form" method="post" name="email-form">
          <label for="name">Pseudo :</label>
          <input class="w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Pseudo" required="required" type="text">
          <label for="email">Email :</label>
          <input class="w-input" data-name="Email" id="email" maxlength="256" name="email" placeholder="Email" required="required" type="email">
          <label for="field">Message :</label>
          <textarea class="w-input" id="field" maxlength="5000" name="field" placeholder="Message" required="required"></textarea>
          <input class="w-button" data-wait="Veuillez patienter..." type="submit" value="Envoyer">
        </form>
        <div class="w-form-done"></div>
        <div class="w-form-fail"></div>
      </div>
    </div>
  </div>

{% endblock %}